.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.scanning {
  font-family: var(--main-font);
  color: var(--black-text-color);

  @media screen and (min-width: 768px) {
    padding: 0 60px;
  }
  @media screen and (min-width: 1444px) {
    padding: 0 192px;
  }
}
.hero__scan-conteiner {
  display: block;
  background: url(../images/scanning/hero-scanning-desk.jpg);
  background-repeat: no-repeat;
  background-position: 20px 575px;
  background-size: 280px 199px;
  padding-bottom: 76px;
  padding-left: 30px;
  background-color: var(--white-color);

  @media screen and (min-width: 768px) {
    background-position: 430px 100px;
    background-size: 241px 172px;
    padding-bottom: 76px;
  }
  @media screen and (min-width: 1444px) {
    background-position: 520px 110px;
    background-size: 515px 368px;
    padding-bottom: 100px;
  }
}
.hero__scan-conteiner .title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;

  padding-bottom: 16px;
  color: var(--blue-accent-color);
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    padding-bottom: 24px;
  }
}

.text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  padding-bottom: 16px;
  line-height: 1.25;
  color: var(--black-text-color);
}

.scan-text.centr {
  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.scan-title {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 194px;
    padding-right: 60px;
  }
  @media screen and(min-width:1444px) {
    padding-left: 736px;
    padding-right: 189px;
  }
}

.scan {
  padding-bottom: 24px;
}
.text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;

  color: var(--black-text-color);

  @media screen and (min-width: 1444px) {
    font-size: 18px;
    line-height: 1.27;
  }
}
.scan-text {
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 514px;
  }
  @media screen and (min-width: 1444px) {
    width: 515px;
    padding-bottom: 24px;
    padding-right: 32px;
  }
}
.scan-text-alein {
  @media screen and (min-width: 1444px) {
    display: flex;
  }
}
.scan-text-last {
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 514px;
  }
  @media screen and (min-width: 1444px) {
    display: flex;
    margin-top: -150px;
    width: 515px;
    padding-left: 20px;
  }
}

.scan-text:not(:last-child) {
  padding-bottom: 16px;
}

.title__scanning {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;

  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: left;

  color: var(--blue-accent-color);

  @media screen and (min-width: 1444px) {
    font-size: 34px;
    text-align: left;
    padding-bottom: 24px;
  }
}

.title__scan {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.27;
  text-transform: uppercase;
  color: var(--blue-accent-color);

  text-align: left;
  padding-top: 24px;
  padding-bottom: 16px;
  margin-top: 200px;
  margin-bottom: 0;

  @media screen and(min-width:768px) {
    padding-top: 52px;
    padding-bottom: 24px;
    margin-top: 0;
  }
  @media screen and(min-width:1444px) {
    font-size: 36px;

    padding-top: 100px;
    padding-bottom: 52px;
    margin-top: 0;
  }
}
.scaninng {
  margin-left: 20px;
}
.process .title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--blue-accent-color);
  padding-top: 18px;
  right: 20px;

  @media screen and (min-width: 1444px) {
    font-size: 18px;
    line-height: 1.27;
  }
}

.scan__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 55px;

  @media screen and(min-width:768px) {
    padding-bottom: 52px;
  }
  @media screen and(min-width:1444px) {
    padding-bottom: 100px;
  }
}
.process__scan {
  max-width: 320px;
  margin-bottom: 55px;
  @media screen and(min-width:768px) {
    margin-top: 0;
    max-width: 768px;
    margin-bottom: 52px;
  }
  @media screen and(min-width:1444px) {
    max-width: 1440px;
    margin-bottom: 100px;
  }
}
.process {
  width: 133px;
  height: 183px;
  padding-bottom: 16.5px;

  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 153px;
    height: 210px;
  }

  @media screen and (min-width: 1444px) {
    width: 250px;
    height: 298px;
  }
}
.process {
  flex-basis: calc((100% - 24px) / 2);
  padding-left: 21px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 48px) / 4);
  }

  @media screen and (min-width: 1444px) {
    padding-top: 44px;
    text-align: center;
  }
}
.img-scanning {
  width: 94px;
  height: 82px;
  padding-top: 14px;

  @media screen and (min-width: 768px) {
    width: 108px;
    height: 95px;
  }

  @media screen and (min-width: 1444px) {
    width: 177px;
    height: 154px;
  }
}
.process__card {
  display: block;

  text-align: center;
  padding-right: 50px;

  @media screen and (min-width: 1444px) {
    justify-content: center;
  }
}

.hero__img-scanning {
  width: 280px;
  height: 199px;

  @media screen and (min-width: 768px) {
    position: fixed;
    right: 8px;
    top: 140px;
    width: 241px;
    height: 172px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
    height: 368px;
  }
}

.button-scan {
  min-width: 280px;
  padding: 20px 32px;
  margin-top: 24px;
  border-radius: 32px;
  background-color: var(--bg-footer-color);
  border: 1px solid var(--bg-footer-color);
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  color: var(--blue-accent-color);
  font-style: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;

  @media screen and(min-width: 768px) {
    width: 277px;
  }

  @media screen and(min-width: 1444px) {
    margin-bottom: 100px;
  }
}

.scan-button {
  @media screen and(min-width: 768px) {
    margin-left: 245px;
    margin-bottom: 76px;
  }

  @media screen and(min-width: 1444px) {
    margin-left: 581px;

    margin-bottom: 100px;
  }
}
