footer * {
  color: var(--black-text-color);
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

footer li {
  margin-top: 8px;
}
footer li:hover {
  box-shadow: 3px 3px 3px #00b7ff;
}

footer {
  min-height: 220px;
  background-color: var(--bg-footer-color);
}

.footer__site-logo {
  padding-top: 32px;
}

.footer__site-email {
  margin: 0px;
}
.footer__site-phone {
  margin: 16px 0px;
}

.footer__connection a {
  color: var(--blue-accent-color);
  margin-top: 5px;
}

@media screen and (min-width: 320px) {
  footer {
    text-align: center;
  }
  footer div {
    margin-top: 24px;
  }
  .footer__site-logo {
    margin-top: 0px;
  }
  .footer__site-phone {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  footer div {
    display: inline-block;
  }
  .footer__site-logo {
    display: block;
  }
  .footer__site-navigation {
    text-align: left;
  }
  .footer__connection div {
    text-align: right;
    display: block;
  }
}

@media screen and (min-width: 1444px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
  .footer__site-logo {
    padding-top: 0px;
    margin-top: 32px;
  }
  .footer__connection div {
    text-align: left;
  }
}
