.hero {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 52px;
}
.hero__title {
    margin-bottom: 32px;

    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: var(--black-text-color);
}
.hero__image-list {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.hero__item {
    margin-right: 15px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));

    &:last-child {
        margin-right: 0;
    }
}
.hero__item--rad-top-right img {
    border-top-right-radius: 35px;
}
.hero__item--rad-round img {
    border-radius: 50%;
}
.hero__item--rad-top-right-left-bottom img {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.hero__text {
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--black-text-color);
}
.hero__link--tabl {
    display: none;
}
.hero__link--desk {
    display: none;
}


@media screen and (min-width: 768px) {
    .hero {
        padding-left: 194px;
        padding-right: 194px;
    }
    .hero__list-container {
        position: relative;
    }
    .hero__title {
        margin-bottom: 64px;
        font-size: 24px;
    }
    .hero__image-list {
        margin-bottom: 64px;
    }
    .hero__item {
        margin-right: 20px;
    }
    .hero__text {
        font-size: 18px;
        line-height: 1.17;
    }
    .hero__link--tabl {
        position: absolute;
        top: 198px;
        left: -75px;

        max-width: 74px;
        display: block;
        padding: 30px 32px;
    }
   
}

@media screen and (min-width: 1444px) {
    .hero {
        padding-left: 376px;
        padding-right: 376px;
        padding-bottom: 100px;

        // background-image: url('./images/hero-top-left-back.jpg');
    }
    
    .hero__title {
        margin-bottom: 69px;
        max-width: 624px;
        font-size: 48px;
    }
    .hero__image-list {
        margin-bottom: 100px;
    }
    .hero__item {
        margin-right: 35px;
    }
    .hero__text {
        font-size: 36px;
        line-height: 1.166;
    }



    .hero__link--tabl {
        display: none;
    }
    .hero__link--desk {    
        position: absolute;
        top: 420px;
        left: -195px;

        max-width: 144px;
        display: block;
        padding: 58px 63px;
    
    }
    
}