:root {
  --main-font: 'Cera Pro';
  --accent-font: 'Caviar Dreams';
  --black-text-color: #2b2b2b;
  --blue-accent-color: #487996;
  --form-color: #cdcdcd;
  --icon-blue-color: #008cef;
  --white-color: #ffffff;
  --bg-footer-color: #f5f5fa;
  --bg-color-section: #e5e5e5;
  --lang-color: #bdbdbd;
  --decor-elements-shadow: rgba(0, 0, 0, 0.1);
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-basic: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1444px;
}
