<section class="3d-modeling__pade">
    <div class="container 3d-modeling">
        <h1 class="3d-modeling__hero">3D МОДЕЛЮВАННЯ</h1>
        <p class="3d-modeling__paragraph">Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована
            модель буде створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими методами,
            то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер при розробці моделі.</p>

        <p class="3d-modeling__paragraph">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують
            модель для її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>

        <h2 class="3d-modeling__heading">Способи створення моделі:</h2>
        <ul class="3d-modeling__list">
            <li class="3d-modeling__item">3D сканування</li>
            <li class="3d-modeling__item">На основі фотографій з доданими розмірами</li>
            <li class="3d-modeling__item">За ескізами з розмірами</li>
            <li class="3d-modeling__item">За вашим кресленням</li>
            <li class="3d-modeling__item">По вже існуючому прототипу шляхом зняття розмірів</li>
        </ul>

        <!-- <picture>
            <source media="(min-width: 1444px)" srcset="./images/3d-modeling/mobile/pic.jpg 1x, ./images/3d-modeling/mobile/pic@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="./images/3d-modeling/mobile/pic.jpg 1x, ./images/3d-modeling/mobile/pic@2x.jpg 2x">
            <source media="(max-width: 767px)" srcset="./images/3d-modeling/mobile/pic.jpg 1x, ./images/3d-modeling/mobile/pic@2x.jpg 2x">

            <img src="./images/3d-modeling/mobile/pic.jpg" alt="Picture">    

        </picture> -->
    </div>
</section> 

