<section class="modeling__pade">
    <div class="container modeling">
        <h1 class="modeling__hero">3D МОДЕЛЮВАННЯ</h1>
        <ul class="modeling__content__list">

            <li class="modeling__content__item">
                Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована
                модель буде створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими методами,
                то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер при розробці моделі.
            </li>

            <li class="modeling__content__item">
                Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують
                модель для її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.
            </li>
        </ul>


        <h2 class="modeling__heading">Способи створення моделі:</h2>
        <div class="modeling__content">
            <ul class="modeling__list">
                <li class="modeling__item">3D сканування</li>
                <li class="modeling__item">На основі фотографій з доданими розмірами</li>
                <li class="modeling__item">За ескізами з розмірами</li>
                <li class="modeling__item">За вашим кресленням</li>
                <li class="modeling__item">По вже існуючому прототипу шляхом зняття розмірів</li>
            </ul>

            <picture>
                <source media="(min-width: 1444px)" srcset="./images/3d-modeling/desktop/pic.jpg 1x, ./images/3d-modeling/desktop/pic@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="./images/3d-modeling/tablet/pic.jpg 1x, ./images/3d-modeling/tablet/pic@2x.jpg 2x">
                <source media="(max-width: 767px)" srcset="./images/3d-modeling/mobile/pic.jpg 1x, ./images/3d-modeling/mobile/pic@2x.jpg 2x">
            </picture> 

                <img src="./images/3d-modeling/mobile/pic.jpg" alt="Picture" class="modeling__picture">    
        
        </div>
        

        <h2 class="modeling__heading">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h2>

        <ul class="modeling__galery__list">
            <li class="modeling__galery__item">
                <picture>
                    <source media="(min-width: 1444px)" srcset="./images/3d-modeling/desktop/realistic_1.jpg 1x, ./images/3d-modeling/desktop/realistic_1@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/3d-modeling/tablet/realistic_1.jpg 1x, ./images/3d-modeling/tablet/realistic_1@2x.jpg 2x">
                    <source media="(max-width: 767px)" srcset="./images/3d-modeling/mobile/realistic_1.jpg 1x, ./images/3d-modeling/mobile/realistic_1@2x.jpg 2x">
                </picture>
                
            <img src="./images/3d-modeling/mobile/realistic_1.jpg" alt="Picture1" class="modeling__galery__pic"> 
            </li>
            
            <li class="modeling__galery__item">
                <picture>
                    <source media="(min-width: 1444px)" srcset="./images/3d-modeling/desktop/realistic_2.jpg 1x, ./images/3d-modeling/desktop/realistic_2@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/3d-modeling/tablet/realistic_2.jpg 1x, ./images/3d-modeling/tablet/realistic_2@2x.jpg 2x">
                    <source media="(max-width: 767px)" srcset="./images/3d-modeling/mobile/realistic_2.jpg 1x, ./images/3d-modeling/mobile/realistic_2@2x.jpg 2x">
                </picture>
                
            <img src="./images/3d-modeling/mobile/realistic_2.jpg" alt="Picture3" class="modeling__galery__pic modeling__galery__pic--cut"> 
            </li>

            <li class="modeling__galery__item">
                <picture>
                    <source media="(min-width: 1444px)" srcset="./images/3d-modeling/desktop/realistic_3.jpg 1x, ./images/3d-modeling/desktop/realistic_3@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/3d-modeling/tablet/realistic_3.jpg 1x, ./images/3d-modeling/tablet/realistic_3@2x.jpg 2x">
                    <source media="(max-width: 767px)" srcset="./images/3d-modeling/mobile/realistic_3.jpg 1x, ./images/3d-modeling/mobile/realistic_3@2x.jpg 2x">
                </picture>
                
            <img src="./images/3d-modeling/mobile/realistic_3.jpg" alt="Picture3" class="modeling__galery__pic"> 
            </li>

            <li class="modeling__galery__item">
                <picture>
                    <source media="(min-width: 1444px)" srcset="./images/3d-modeling/desktop/realistic_4.jpg 1x, ./images/3d-modeling/desktop/realistic_4@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/3d-modeling/tablet/realistic_4.jpg 1x, ./images/3d-modeling/tablet/realistic_4@2x.jpg 2x">
                    <source media="(max-width: 767px)" srcset="./images/3d-modeling/mobile/realistic_4.jpg 1x, ./images/3d-modeling/mobile/realistic_4@2x.jpg 2x">
                </picture>
                
            <img src="./images/3d-modeling/mobile/realistic_4.jpg" alt="Picture4" class="modeling__galery__pic modeling__galery__pic--cut"> 
            </li>
        </ul>

           <a href="take-order-page.html" class="modeling__button">ЗРОБИТИ ЗАМОВЛЕННЯ</a> 
    
        
    </div>
</section> 

