<section class="model-examples">
<div class="container">
    <h1 class="model-title">МИ СТВОРЮЄМО</h1>
    <ul class="examples">
        <li class="examples__item">
            <div class="examples__card">
              <div class="examles__thumb">
                <picture>
                <source media="(min-width: 1444px)"
                    srcset="./images/printing/example1-desktop.jpg 1x,  ./images/printing/example1-desktop@2x.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="./images/printing/example1-tablet.jpg 1x, ./images/printing/example1-tablet@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="./images/printing/example1.jpg 1x, ./images/printing/example1@2x.jpg 2x">
                <img class="examples__img" src="./images/printing/example1.jpg" alt="деталь" />
              </picture></div>
            <div class="examples__text">
               <p class="examples__title">ПРОТОТИПИ</p>
            </div>
             </div>
            </li>
        <li class="examples__item">
            <div class="examples__card">
                <div class="examles__thumb">
                    <picture>
                        <source media="(min-width: 1444px)"
                            srcset="./images/printing/example2-desktop.jpg 1x,  ./images/printing/example2-desktop@2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="./images/printing/example2-tablet.jpg 1x, ./images/printing/example2-tablet@2x.jpg 2x">
                        <source media="(min-width: 320px)" srcset="./images/printing/example2.jpg 1x, ./images/printing/example2@2x.jpg 2x">
                        <img class="examples__img" src="./images/printing/example2.jpg" alt="макет" />
                    </picture></div>
            <div class="examples__text">
               <p class="examples__title">МАКЕТИ</p>
                </div>
            
            </div>
        </li>
        <li class="examples__item">
        <div class="examples__card">
            <div class="examles__thumb">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/example3-desktop.jpg 1x,  ./images/printing/example3-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/example3-tablet.jpg 1x, ./images/printing/example3-tablet@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./images/printing/example3.jpg 1x, ./images/printing/example3@2x.jpg 2x">
                    <img class="examples__img" src="./images/printing/example3.jpg" alt="ваза" />
                </picture></div>
                
                <div class="examples__text">
                    <p class="examples__title">ДЕКОР</p>
                </div>
        
    </div>
        </li>
        <li class="examples__item">
            <div class="examples__card">
                <div class="examles__thumb">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/example4-desktop.jpg 1x,  ./images/printing/example4-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/example4-tablet.jpg 1x, ./images/printing/example4-tablet@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./images/printing/example4.jpg 1x, ./images/printing/example4@2x.jpg 2x">
                    <img class="examples__img" src="./images/printing/example4.jpg" alt="куб"/>
                </picture></div>
                <div class="examples__text">
                    <p class="examples__title">КОРПОРАТИВНИЙ <br>ДИЗАЙН</p>
                </div>
            </div>
            </li>
    </ul>
</div>
</section>
<section class="process-description">
    <div class="container">
        <h2 class="process-title">Process Description</h2> 
        <div class="process-menu">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/print-desktop.jpg 1x,  ./images/printing/print-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/print-tablet.jpg 1x, ./images/printing/print-tablet@2x.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/printing/print.jpg 1x, ./images/printing/print@2x.jpg 2x">
                    <img class="process__img" src="./images/printing/print.jpg" alt="фон услуги печати" />
                </picture>

                <div class="process__label">
                    <p class="process__text"><span class="">
                            3D-друк</span> - ми використовуємо FDM технологію друку. Вона представляє собою
                        пошарове формування об'єкта за допомогою 3D
                        принтера.</p>
                    <p class="process__text">
                        Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах
                        автоматизованого
                        проектування.
                    </p>
                    <p class="process__text">
                        3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і
                        багатьох
                        інших сфер.
                    </p>
                    <a href="" class="process__button">зробити замовлення</a>
                 </div>
            </div>
            <div class="process-menu">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/model-desktop.jpg 1x,  ./images/printing/model-desktop@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/model-tablet.jpg 1x, ./images/printing/model-tablet@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./images/printing/model.jpg 1x, ./images/printing/model@2x.jpg 2x">
                    <img class="process__img" src="./images/printing/model.jpg" alt="фон услуги моделирования" />
                </picture>
                <div class="process__label">
                    <p class="process__text"><span class="">3D-моделювання</span> - це процес розробки математичного
                        уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
                        спеціалізованого програмного забезпечення.</p>
                    <p class="process__text">
                        Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
                    </p>
                    <p class="process__text">
                        Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші
                        потреби.
                    </p>
                    <a href="" class="process__button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
                </div>
            </div>
            <div class="process-menu">
                <picture>
                  <source media="(min-width: 1444px)"
                  srcset="./images/printing/scan-desktop.jpg 1x,  ./images/printing/scan-desktop@2x.jpg 2x">
                  <source media="(min-width: 768px)"
                  srcset="./images/printing/scan-tablet.jpg 1x, ./images/printing/scan-tablet@2x.jpg 2x">
                  <source media="(min-width: 320px)" srcset="./images/printing/scan.jpg 1x, ./images/printing/scan@2x.jpg 2x">
                   <img class="process__img" src="./images/printing/scan.jpg" alt="фон услуги сканирование" />
                </picture>
                
                <div class="process__label">
                    <p class="process__text"><span class="">3D-сканування</span> - зняття даних, шляхом аналізу форми
                        предмета і на основі отриманих даних створення її 3D-моделі.</p>
                    <p class="process__text">
                        Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в
                        цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.
                    </p>
                    <a href="" class="process__button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
                </div>
            </div>

     </div>
</section>