<section class="contacts-hero container">
<h2 class="contacts-title">КОНТАКТИ</h2>
<div class="contacts-flex-posiion">
<iframe class="contacts-video" width="280" height="171" src="https://www.youtube.com/embed/3LBTkLsjHGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ul>
        <li class="contacts-page-item">
            <p class="contacts-page-description">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин. </p>
        </li>
        <li class="contacts-page-item">
            <p class="contacts-page-description">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і просто помилуватися
            красою цього процесу.</p>
        </li>
        <li class="contacts-page-item">
            <p class="contacts-page-description">Приємного перегляду! &#128521;</p>
        </li>
    </ul>
    </div>
</section>

<section class="contacts-page container ">
    <!--Форма  -->
    <div class="contacts-form">
        <h2 class="contacts-form__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
       <!-- <br action="#" class="contacts-form" autocomplete="off">  -->
            <label class="contacts-form__field">
                <input type="text" name="username" class="contacts-form__input" placeholder=" " required minlength="2">
                <span class="contacts-form__label">Ім’я</span>
            </label>
            <label class="contacts-form__field">
                <input type="email" name="email" class="contacts-form__input" placeholder=" " required>
                <span class="contacts-form__label">Email</span>
            </label>
            <span class="contacts-form__field-message">Повiдомлення</span>
            <textarea name="usermessage" class="contacts-form__message"
                placeholder="Залишіть своє повідомлення"></textarea>
                <div class="contacts-form__file--wrapper">
            <p class="contacts-form__file">*Прикріпіть зображення /  креслення/ STL / Obj / CAD-модель</p>
            <p class="contacts-form__file contacts-form__file--pc">*Прикріпіть зображення/креслення/STL/Obj/CAD-модель</p>
            </div>

            <div class="icon-paper-thumb">
            <svg class="icon-paper-clip" width="21" height="20">
                <use href="./images/icons/sprite.svg#icon-paper-clip"></use>
            </svg>
            </div>

            <!--<div class="contacts-form__cont">-->
                <button type="submit" class="contacts-form__btn">Вiдправити</button>
            <!--</div>-->
        </form>
    </div>
    <!-- Контакты -->
    <div class="contacts-info">
        <ul class="contacts-info__list">
            <li class="contacts-info__list-iteam list">
                <h3 class="contacts-info__title">ТЕЛЕФОНИ</h3>
            </li>
            <li class="contacts-info__list-iteam list">
                <a class="contacts-info__link link" href="tel:+380957384551">+38 (095)-73-84-551</a>
            </li>
            <li class="contacts-info__list-iteam list">
                <a class="link contacts-info__link" href="tel:+380980025235">+38 (098)-00-25-235</a>
            </li>
        </ul>
        <ul class="contacts-info__list">
            <li class="contacts-info__list-iteam list">
                <h3 class="order-contacts-info__title">Email</h3>
            </li>
            <li class="contacts-info__list-iteam list">
                <a class="link contacts-info__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
            </li>
        </ul>
        <ul class="contacts-info__list">
            <li class="contacts-info__list-iteam list">
                <h3 class="contacts-info__title ">Робочий час</h3>
            </li>
            <li class="contacts-info__list-iteam list">
                <p class="contacts-info__link order-contacts-info__link-date"> Пн-пт: <span
                        class="order-contacts-info__date">з 8:00 до 19:00</span> </p>
            </li>
            <li class="contacts-info__list-iteam  list">
                <p class="contacts-info__link order-contacts-info__link-date">Сб, Нд: <span
                        class="order-contacts-info__date">з 10:00 до 17:00</span></p>
            </li>
        </ul>
    </div>
</section>