<footer>
  <div class="footer__wrapper container">
    <div class="footer__site-logo">
      <a href="./index.html"><img src=".\images\logo.png" alt="logo" /></a>
    </div>

    <div class="tablet__footer-wrapper">
      <nav class="footer__site-navigation">
        <ul class="list">
          <li><a href="./index.html">Головна</a></li>
          <li><a href="./3d-modeling-page.html">3D Моделювання</a></li>
          <li><a href="./3d-scanning-page.html">3D Сканування</a></li>
          <li><a href="./3d-printing-page.html">3D Друк</a></li>
          <li><a href="./take-order-page.html">Замовити</a></li>
          <li><a href="./contacts-page.html">Контакти</a></li>
        </ul>
      </nav>

      <ul class="footer__social-list list">
        <li><a href="https://instagram.com/_3d_freedom?utm_medium=copy_link">Instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UCkZRseZnbeStrmZhf5vqaSQ">You Tube</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>

      <div class="footer__connection">
        <div class="footer__site-email">
          <span>Email</span>
          <a href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
        </div>
        <div class="footer__site-phone">
          <span>Телефони</span>
          <a href="tel:+380936432288">+38 (093) 643 22 88</a>
          <a href="tel:+380936432288">+38 (050) 345 44 23</a>
        </div>
      </div>
    </div>
  </div>
</footer>
