<footer>
  <div class="site__logo">
    <a href="./index.html"><img src=".\images\logo.png" alt="logo" /></a>
  </div>
  <nav class="footer__site-navigation">
    <ul class="navigation__list">
      <li class="navigation__list-item"><a href="./index.html">Головна</a></li>
      <li class="navigation__list-item"><a href="">3D Моделювання</a></li>
      <li class="navigation__list-item"><a href="">3D Сканування</a></li>
      <li class="navigation__list-item"><a href="">3D Друк</a></li>
      <li class="navigation__list-item"><a href="">Замовити</a></li>
      <li class="navigation__list-item"><a href="">Контакти</a></li>
    </ul>
  </nav>
  <div class="footer__social-block">
    <ul>
      <li><a href="">Instagram</a></li>
      <li><a href="">You Tube</a></li>
      <li><a href="">Facebook</a></li>
    </ul>
  </div>

  <div class="connection">
    <div class="email">
      <span>Email</span>
      <a href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
    </div>
    <div class="phone">
      <span>Телефони</span>
      <a href="tel:+380936432288">+38 (093) 643 22 88</a>
      <a href="tel:+380936432288">+38 (050) 345 44 23</a>
    </div>
  </div>
</footer>
