<section class="gallery-container">
    <div class="design-element-1"></div>
    <div class="design-element-2"></div>
    <div class="design-element-3"></div>
    <div class="design-element-4"></div>
    
    <div class="gallery">
    <h2 id="gallery" class="gallery__title">ГАЛЕРЕЯ</h2>
    <ul class="gallery__list">
        <li class="gallery__list-item">
            <picture>
                <source media="(min-width:1444px)" srcset="./images/gallery/desktope/gallery-desktope-img1.jpg 1x, 
                ./images/gallery/desktope/gallery-desktope-img1@2x.jpg 2x">
                <source media="(min-width:768px)" srcset="./images/gallery/tablet/gallery-tablet-img1.jpg 1x, 
                 ./images/gallery/tablet/gallery-tablet-img1@2x.jpg 2x">
                <source media="(min-width:320px)" srcset="./images/gallery/mobile/gallery-mobile-img1.jpg 1x, 
                ./images/gallery/mobile/gallery-mobile-img1@2x.jpg 2x">
                
                <img src="./images/gallery/mobile/gallery-mobile-img1.jpg" alt="Інженерні методи аналізу та контролю якості"
                class="gallery-image">
            </picture>
        <h3 class="gallery__list-title">Інженерні методи аналізу та контролю якості</h3>
        </li>
        <li class="gallery__list-item">
            <picture>
                <source media="(min-width:1444px)" srcset="./images/gallery/desktope/gallery-desktope-img2.jpg 1x, 
                ./images/gallery/desktope/gallery-desktope-img2@2x.jpg 2x">
                <source media="(min-width:768px)" srcset="./images/gallery/tablet/gallery-tablet-img2.jpg 1x, 
                ./images/gallery/tablet/gallery-tablet-img2@2x.jpg 2x">
                <source media="(min-width:320px)" srcset="./images/gallery/mobile/gallery-mobile-img2.jpg 1x, 
                ./images/gallery/mobile/gallery-mobile-img2@2x.jpg 2x">

            <img src="./images/gallery/mobile/gallery-mobile-img2.jpg" alt="Високоточне 3D сканування" class="gallery-image">
            </picture>
            <h3 class="gallery__list-title">Високоточне 3D сканування</h3>
        </li>
        <li class="gallery__list-item">
            <picture>
            <source media="(min-width:1444px)" srcset="./images/gallery/desktope/gallery-desktope-img3.jpg 1x, 
            ./images/gallery/desktope/gallery-desktope-img3@2x.jpg 2x">
            <source media="(min-width:768px)" srcset="./images/gallery/tablet/gallery-tablet-img3.jpg 1x, 
            ./images/gallery/tablet/gallery-tablet-img3@2x.jpg 2x">
            <source media="(min-width:320px)" srcset="./images/gallery/mobile/gallery-mobile-img3.jpg 1x, 
            ./images/gallery/mobile/gallery-mobile-img3@2x.jpg 2x">

            <img src="./images/gallery/mobile/gallery-mobile-img3.jpg" alt="Створення точної копії на базі сканування reverse engineering" class="gallery-image">
            </picture>
            <h3 class="gallery__list-title">Створення точної копії на базі сканування reverse engineering</h3>
        </li>
        <li class="gallery__list-item">
            <picture>
                <source media="(min-width:1444px)" srcset="./images/gallery/desktope/gallery-desktope-img4.jpg 1x, 
                ./images/gallery/desktope/gallery-desktope-img4@2x.jpg 2x">
                <source media="(min-width:768px)" srcset="./images/gallery/tablet/gallery-tablet-img4.jpg 1x, 
                ./images/gallery/tablet/gallery-tablet-img4@2x.jpg 2x">
                <source media="(min-width:320px)" srcset="./images/gallery/mobile/gallery-mobile-img4.jpg 1x, 
                ./images/gallery/mobile/gallery-mobile-img4@2x.jpg 2x">

            <img src="./images/gallery/mobile/gallery-mobile-img4.jpg" alt="Створення фотореалістичних цифрових моделей" class="gallery-image">
            </picture>
            <h3 class="gallery__list-title">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</h3>
        </li>
    </ul>
    </div>
</section>