<header>
    <div class="container pc-header">
        <div class="pc-header__decor--left"></div>
        <div class="pc-header__decor--right"></div>
    <nav class="pc-header__nav">
        <a href="#" class="logo__link">
            <img src="./images/logo.png" alt="logo" class="logo">
        </a>

        <ul class="pc-header__nav__list">

            <li class="pc-header__nav__item">
                <a href="index.html" class="pc-header__nav__link">Головна</a>
            </li>

            <li class="pc-header__nav__item--sticky">

                <a href="#" class="pc-header__nav__link pc-header__nav__link--sticky">Послуги</a>
                <div class="sticky__overlay">
                    <ul class="sticky__nav__list">
                    
                    <li class="sticky__item">
                        <a href="#" class="sticky__link--close">Послуги</a>
                    </li>

                    <li class="sticky__item">
                        <a href="3d-modeling-page.html" class="sticky__link">3D Моделювання</a>
                    </li>

                    <li class="sticky__item">
                        <a href="3d-scanning-page.html" class="sticky__link">3D Сканування</a>
                    </li>

                    <li class="sticky__item">
                        <a href="3d-printing-page.html" class="sticky__link">3D Друк</a>
                    </li>
                </ul> 
                </div>
                
                                  
            </li>

            <li class="pc-header__nav__item">
                <a href="take-order-page.html" class="pc-header__nav__link">Замовити</a>
            </li>

            <li class="pc-header__nav__item">
                <a href="contacts-page.html" class="pc-header__nav__link">Контакти</a>
            </li>

        </ul>       
    </nav>
    <div class="pc-header__lang__menu">
        <a href="#" class="pc-header__lang__link pc-header__lang__link--sticky">ENG</a>
  
         
        <ul class="pc-header__lang__list">
            <li class="pc-header__lang__item"><a href="#" class="pc-header__lang__link">RUS</a></li>
            <li class="pc-header__lang__item"><a href="#" class="pc-header__lang__link">UKR</a></li>
        </ul>
    </div>
            
    
    <div class="pc-header__phones">
        <ul class="pc-header__phones__list">
            <li class="pc-header__phones__item"><a href="tel:+380936432288" class="pc-header__phones__link">+38 (093) 643 22 88</a></li>
            <li class="pc-header__phones__item"><a href="tel:+380503454423" class="pc-header__phones__link">+38 (050) 345 44 23</a></li>
        </ul>
    </div>

    </div>
 
</header>