

<section class="section_more-photo">
<div class="container_more-photo">

    <h2>БІЛЬШЕ ФОТО</h2>
    <ul class="more-photo_list">
        <li class="more-photo_item">
            <picture> 
                
         <source media="(min-width:1444px)"srcset="./images/more_photo/pic1.1x.webp.webp" type="image/webp">
        <source media="(min-width:1444px)" srcset="./images/more_photo/pic1.2x.webp.webp" type="image/webp">
        <source media="(min-width:1444px)"srcset="./images/more_photo/pic1.1x.jpg, ./images/more_photo/pic1.2x.jpg">
    
        <source media="(min-width:768px)"
                    srcset="./images/more_photo/pic1.tabl.1x.webp.webp"
                    type="image/webp">
             <source media="(min-width:768px)"srcset="./images/more_photo/pic1.tabl.1x.jpg, ./images/more_photo/pic1.tabl.2x.jpg">
            <source media="(min-width:768px)" srcset="./images/more_photo/pic1.tabl.1x.webp.webp, ./images/more_photo/pic1.tabl.2x.webp.webp" type="image/webp">
 
                <source media="(min-width:320px)"
                    srcset="./images/more_photo/pic1.mob.1x.webp.webp" type="image/webp">
                <source media="(min-width:320px)"
                    srcset="./images/more_photo/pic1.mob.2x.webp.webp" type="image/webp">
                <source media="(min-width:320px)"
                    srcset="./images/more_photo/pic1.mob.1x.jpg, ./images/more_photo/pic1.mob.2x.jpg">
              
         <img class="" src="" alt="pic1"  />
            </picture>
        </li>
        <li class="more-photo_item">
           <picture>
            <source media="(min-width:1444px)"srcset="./images/more_photo/pic2.1x.webp.webp" type="image/webp">
            <source media="(min-width:1444px)" srcset="./images/more_photo/pic2.2x.webp.webp" type="image/webp">
           <source media="(min-width: 1444px)"srcset="./images/more_photo/pic2.1x.jpg, ./images/more_photo/pic2.2x.jpg">
    
            <source media="(min-width:768px)"srcset="./images/more_photo/pic2.tabl.1x.webp.webp"
                type="image/webp" height="">
            <source media="(min-width:768px)"
                srcset="./images/more_photo/pic2.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"
                    srcset="./images/more_photo/pic2.tabl.1x.jpg, ./images/more_photo/pic2.tabl.2x.jpg">
    
                <source media="(min-width:320px)"srcset="./images/more_photo/pic2.mob.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:320px)"srcset="./images/more_photo/pic2.mob.2x.webp.webp" type="image/webp">
                <source media="(min-width: 320px)"
                    srcset="./images/more_photo/pic2.mob.1x.jpg, ./images/more_photo/pic2.mob.2x.jpg">
    
           <img class="" src="" alt="pic1" />
            </picture>
        </li>
        <li class="more-photo_item">
           <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic3.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic3.2x.webp.webp"
                    type="image/webp">
                <source media="(min-width: 1444px)"
                    srcset="./images/more_photo/pic3.1x.jpg, ./images/more_photo/pic3.2x.jpg">
    
                 <source media="(min-width:768px)"srcset="./images/more_photo/pic3.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"srcset="./images/more_photo/pic3.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"
                    srcset="./images/more_photo/pic3.tabl.1x.jpg, ./images/more_photo/pic3.tabl.2x.jpg">
    
                <source media="(min-width:320px)"srcset="./images/more_photo/pic3.mob.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:320px)"srcset="./images/more_photo/pic3.mob.2x.webp.webp" type="image/webp">
                <source media="(min-width: 320px)"srcset="./images/more_photo/pic3.mob.1x.jpg, ./images/more_photo/pic3.mob.2x.jpg">
    
         <img class="" src="" alt="pic1" />
            </picture>
        </li>
    
        <li class="more-photo_item divide">
          <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic4.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic4.2x.webp.webp"
                    type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic4.1x.jpg, ./images/more_photo/pic4.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic4.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"srcset="./images/more_photo/pic4.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic4.tabl.1x.jpg, ./images/more_photo/pic4.tabl.2x.jpg">
    
             <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
           <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic5.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic5.2x.webp.webp"
                    type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic5.1x.jpg, ./images/more_photo/pic5.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic5.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"srcset="./images/more_photo/pic5.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic5.tabl.1x.jpg, ./images/more_photo/pic5.tabl.2x.jpg">
    
            <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
           <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic6.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic6.2x.webp.webp"
                    type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic6.1x.jpg, ./images/more_photo/pic6.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic6.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"srcset="./images/more_photo/pic6.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic6.tabl.1x.jpg, ./images/more_photo/pic6.tabl.2x.jpg">
    
           <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
            <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic7.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic7.2x.webp.webp"
                    type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic7.1x.jpg, ./images/more_photo/pic7.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic7.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"srcset="./images/more_photo/pic7.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic7.tabl.1x.jpg, ./images/more_photo/pic7.tabl.2x.jpg">
    
            <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
           <picture>
               <source media="(min-width:1444px)"srcset="./images/more_photo/pic8.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic8.2x.webp.webp"
                    type="image/webp">
               <source media="(min-width: 1444px)"srcset="./images/more_photo/pic8.1x.jpg, ./images/more_photo/pic8.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic8.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"
                    srcset="./images/more_photo/pic8.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic8.tabl.1x.jpg, ./images/more_photo/pic8.tabl.2x.jpg">
    
           <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
           <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic9.1x.webp.webp" type="image/webp">
                <source media="(min-width:1444px)" srcset="./images/more_photo/pic9.2x.webp.webp"
                    type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic9.1x.jpg, ./images/more_photo/pic9.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic9.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"
                    srcset="./images/more_photo/pic9.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic9.tabl.1x.jpg, ./images/more_photo/pic9.tabl.2x.jpg">
    
           <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
            <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic10.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic10.2x.webp.webp" type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic10.1x.jpg, ./images/more_photo/pic10.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic10.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"
                    srcset="./images/more_photo/pic10.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic10.tabl.1x.jpg, ./images/more_photo/pic10.tabl.2x.jpg">
    
            <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
            <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic11.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic11.2x.webp.webp" type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic11.1x.jpg, ./images/more_photo/pic11.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic11.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"
                    srcset="./images/more_photo/pic11.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic11.tabl.1x.jpg, ./images/more_photo/pic11.tabl.2x.jpg">
    
            <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
        <li class="more-photo_item divide">
           <picture>
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic12.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:1444px)"srcset="./images/more_photo/pic12.2x.webp.webp" type="image/webp">
                <source media="(min-width: 1444px)"srcset="./images/more_photo/pic12.1x.jpg, ./images/more_photo/pic12.2x.jpg">
    
                <source media="(min-width:768px)"srcset="./images/more_photo/pic12.tabl.1x.webp.webp"
                    type="image/webp">
                <source media="(min-width:768px)"srcset="./images/more_photo/pic12.tabl.2x.webp.webp" type="image/webp">
                <source media="(min-width: 768px)"srcset="./images/more_photo/pic12.tabl.1x.jpg, ./images/more_photo/pic12.tabl.2x.jpg">
   
           <img class="" src="" alt="pic1" width="" />
            </picture>
        </li>
    
    </ul>
<div class="more-photo_icon">
<svg width="45px" height="45px">
    <use href="./images/more_photo/photo-icon.symbol-defs.svg#icon-more-photo_icon"></use>
</svg>
</div>
  
    <!--<div class="more-photo_icon">
        <svg >
            <use href="./images/more_photo/photo-icon.symbol-defs.svg"></use>
        </svg>
    </div> -->
</div>
</section>