<section class="order-hero">
    <div class="order-hero__container container ">
        <h1 class="order-hero__title order-hero__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
        <div class="order-hero__tablet">
            <div class="order-hero__bg-image">
            </div>
            <div class="order-hero__desktop">
                <ul class="order-hero__description">
                    <li class="order-hero__item">
                        <p class="order-hero__text">На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з
                            вами.</p>
                    </li>
                    <li class="order-hero__item">
                        <p class="order-hero__text">Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на
                            всі ваші запитання.</p>
                    </li>
                </ul>
                <ul class="order-hero__decor">
                    <li class="order-hero__decor-item1 order-hero__decor-item"></li>
                    <li class="order-hero__decor-item2 order-hero__decor-item"></li>
                    <li class="order-hero__decor-item3 order-hero__decor-item"></li>
                </ul>
            </div>
        </div>
    </div>
</section>